__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl
*.pickle


venv/
.env/
.venv/
env/
ENV/


.ipynb_checkpoints/
*.ipynb_convert/


checkpoints/
*.h5
*.hdf5
*.ckpt
*.ckpt.*


logs/
tensorboard/
tb_logs/

*.tfrecord
*.pb
*.pbtxt


.vscode/
.history/


.DS_Store
Thumbs.db


outputs/
figures/
plots/

data/